@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro);

html, body { height: 100%; margin: 0; }
body {	background: radial-gradient(ellipse at center, rgb(64,64,64) 0%,rgb(32,32,32) 100%) no-repeat; font-family: 'Source Code Pro',sans-serif; }

a { color: white; } 

p { 
	color: #aaa; 
	position: relative; 
	top: 5%;
	margin: 0 auto; 
	width: 75%;
}
 
div#container {
	-moz-perspective: 800px;
	-moz-perspective-origin: 50% 50%;
	-ms-perspective: 800px;
	-ms-perspective-origin: 50% 50%;
	-webkit-perspective: 800px;
	-webkit-perspective-origin: 50% 50%;
	-o-perspective: 800px;
	-o-perspective-origin: 50% 50%;
	perspective: 800px;
	perspective-origin: 50% 50%;
	text-align: center;
	position: absolute;
	height: 50%;
	width: 100%;
	top: 0;
}

div.cssmatrix {
	position: relative;
	height: 65%;
	width: 35%;
	background-color: #666;
	margin: 5% 5% 5% 7%;
	float: left;
	color: #111;
}

label {
	font-size: 90%;
	color: #000;
	position: relative;
	height: 2em;
	width: 10em;
}

div#controls {
	background-color: rgba(0,0,0,0.5);
	position: absolute;
	top: 50%;
	width: 100%;
	height: 50%;
}

ul#ctrl {
	list-style: none;
}

ul#ctrl li {
	display: inline-block;
	height: 2em;
	width: 10em;
	padding-top: 0.5em;
}

ul#ctrl li label {
	float: right;
	color: #ccc;
}